*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}
.main-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: blanchedalmond;
  min-width: 100vw;
  min-height: 100vh;
}
.title {
  font-size: 10vh;
  text-align: center;
  width: 100vw;
  background-color: rgb(175, 148, 111);
  font-weight: bold;
  color: antiquewhite;
  -webkit-text-stroke: 3px black;
}
#canvas {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: 700px;

  border-color: black;
  border-style: solid;
  border-radius: 3px;
  background-color: white;
  align-self: center;
}
.square {
  background-color: white;
  border: black;
  border-style: solid;
}
.settings {
  text-align: center;
  background-color: rgb(175, 148, 111);
  flex: 1;
}
#reset-button {
  font-size: 5vh;
  background-color: rgb(66, 40, 14);
  color: white;
  margin-top: 1vh;
  border-radius: 10px;
  margin-right: 3vw;
}
#canvas-size-button {
  font-size: 5vh;
  background-color: rgb(66, 40, 14);
  color: white;
  margin-top: 1vh;
  border-radius: 10px;
}
